.hovered {
  background: rgb(97, 143, 111);
  opacity: 0.5;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.highlighted {
  background: rgb(27, 206, 81);
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.input-search {
  display: inline;
  width: 100%;
}
.form-filter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  font-family: roboto;
  &-input-id {
    width: 30%;
    .mat-form-field {
      width: 100%;
    }
  }
  &-input-name {
    width: 70%;
    display: flex;
    align-items: center;
    position: relative;
    .mat-form-field {
      width: 100%;
    }
    &-button {
      position: absolute;
      top: 12%;
      right: 0;
      color: #fff;
    }
  }
  &-card-overlay {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.398);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    &-title {
      background: inherit;
      width: 100%;
      margin: 0;
    }
    &-content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
    }
  }
}
