<section>
    <article>
        <form class="form-filter" [formGroup]="autocompleteForm">
            <div class="form-filter-input-id" *ngIf="!showInput.isShowInputNameOnly">
                <mat-form-field #filterId appearance="outline">
                    <mat-label>ID</mat-label>
                    <input matInput formControlName="inputShowIdFilterControl">
                </mat-form-field>
            </div>
            <div #filterDivName class="form-filter-input-name">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="inputShowNameFilterControl">
                </mat-form-field>
                <button class="form-filter-input-name-button" mat-icon-button (click)="loadingOverlayFilteringTable()"
                    type="button" cdkOverlayOrigin #trigger='cdkOverlayOrigin'>
                    <mat-icon>{{isOpen ? "close" : "arrow_right"}}</mat-icon>
                </button>
            </div>
            <!-- This template displays the overlay content and is connected to the button -->
            <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen">
                <mat-card class="form-filter-card-overlay">
                    <mat-card-title class="form-filter-card-overlay-title">
                        <mat-form-field class="input-search">
                            <mat-icon matPrefix>search</mat-icon>
                            <mat-label> Tìm kiếm </mat-label>
                            <input matInput #inputSearch cdkFocusInitial formControlName='inputSearchControl'>
                            <button matSuffix mat-icon-button (click)="clear()" *ngIf="isFilteringInputSearch"
                                matTooltip="Nhập lại">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </mat-form-field>
                    </mat-card-title>
                    <mat-card-content class="form-filter-card-overlay-content">
                        <app-overlay-effect-table [dataSource]="dataSource" [cols]="tableCols"
                            [inputFilterNoResult]="inputFilterNoResult" (outSelectedRow)="onSelectedRow($event)"
                            [showPaginator]="showPaginator">
                        </app-overlay-effect-table>
                    </mat-card-content>
                </mat-card>
            </ng-template>
        </form>
    </article>
</section>