<ul class="nav">
    <li class="nav-item"><a routerLink="">practice-reactive-form</a></li>
    <li class="nav-item" routerLinkActive="active"><a routerLink="autocomplete-table">autocomplete-table</a></li>
    <li class="nav-item" routerLinkActive="active"><a routerLink="table-reactive-form">table-reactive-form</a></li>
    <li class="nav-item" routerLinkActive="active"><a routerLink="filtering-table">filtering-table</a></li>
    <li class="nav-item" routerLinkActive="active"><a routerLink="filter-on-mat-select">filter-on-mat-select</a></li>
    <li class="nav-item" routerLinkActive="active"><a routerLink="mat-select-form">mat-select-form</a></li>
    <li class="nav-item" routerLinkActive="active"><a routerLink="mat-select-custom">mat-select-custom</a></li>
</ul>
<div class="wrapper">
    <router-outlet></router-outlet>
</div>