$btn-control-font-size: 1rem;
$btn-report-font-size: 0.75rem;
$btn-color-morvert: #0e8cc1;
$border-table-color: #e0e0e0;
$height-width-morvert-button: 24px;
.mat-card-table {
  max-height: 550px !important;
  overflow: auto;
  border-bottom: 2px solid $border-table-color;
  margin-bottom: 0;
  .menu-column {
    border-left: 1px solid $border-table-color;
  }
  &-more-vert-button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* style edit button */
    box-sizing: border-box;
    height: $height-width-morvert-button;
    width: $height-width-morvert-button;
    // border-radius: 4px;
    @media screen and (max-width: 425px) {
      width: auto;
    }
    border: 1px solid $btn-color-morvert;
    /* typography */
    color: $btn-color-morvert;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: $btn-control-font-size;
    line-height: 21px;
    /* animation add-button */
    transform: translateY(0);
    box-shadow: 0px 0 0 black;
    transition: all 0.1s ease-in-out;
    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      .mat-icon {
        margin-right: 8px;
      }
      @media screen and (max-width: 425px) {
        .text {
          display: none;
        }
        .mat-icon {
          margin: 0;
        }
      }
    }
  }
  &-more-vert-button:hover {
    background-color: $btn-color-morvert;
    color: #fff;
    /* animation add-button */
    box-shadow: 0px 3px 3px 3px hsl(0, 1%, 27%, 50%);
    transition: all 0.1s ease-in-out;
  }
  &-more-vert-button:active {
    /* animation add-button */
    transform: translateY(1px);
    box-shadow: 0 0 0 black;
    transition: all 0.1s ease-in-out;
  }
  &-more-vert-button:focus {
    outline: 0;
    background-color: $btn-color-morvert;
    color: #fff;
  }
  table {
    width: 100%;
    border-collapse: separate; /* Don't collapse */
    border-spacing: 0;
  }
  .mat-sort-header-container {
    justify-content: center;
  }
  .mat-row.hovered {
    background: #eee;
  }
  ::ng-deep th.mat-sort-header {
    top: -3px !important;
  }
  ::ng-deep div.mat-sort-header-content {
    color: $btn-color-morvert;
    white-space: nowrap;
  }
  .mat-row.highlighted {
    background: #e3e9fc;
  }
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
    @media screen and (max-width: 425px) {
      width: 100%;
    }
  }
  th.mat-column-position,
  td.mat-column-position {
    padding-left: 8px;
  }
  .mat-header-row {
    background: #f5f5f5;
  }
  .mat-table-sticky:first-child {
    border-right: 1px solid $border-table-color;
  }

  .mat-table-sticky:last-child {
    border-left: 1px solid $border-table-color;
    top: -1px !important;
  }
  .filter-list-result {
    font-size: 14px;
    font-weight: 300;
    color: red;
  }
  ::ng-deep .mat-menu-content {
    background-color: $btn-color-morvert !important;
  }
}
.mat-card-pagination {
  padding: 0;
  margin: 0;
  .paginator {
    .mat-paginator-container {
      color: rgb(14 140 193 / 84%) !important;
      padding: 0;
      @media screen and (max-width: 425px) {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        padding: 0;
        flex-flow: column;
        font-size: 12px;
        width: 100%;
        margin-bottom: 48px;
      }
    }
  }
  .mat-card-actions,
  .mat-card-subtitle,
  .mat-card-content {
    margin-bottom: 0 !important;
  }
}
