$btn-control-font-size: 1rem;
$btn-report-font-size: 0.75rem;

.add-button {
  font-size: $btn-control-font-size !important;
  background: #ffba68;
  color: #fff;
  min-width: 96px;
  height: 38px;
  margin-right: 16px;
  border-radius: 4px;
  /* animation add-button */
  transform: translateY(0);
  box-shadow: 0px 0 0 black;
  transition: all 0.1s ease-in-out;
  @media only screen and (max-width: 768px) {
    width: 29%;
    height: 2em;
    margin: 8px;
  }
  &-icon {
    height: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;
    .mat-icon {
      margin-right: 0;
      @media screen and (max-width: 768px) {
        top: -3px;
        position: absolute;
        right: 38%;
      }
    }
    @media screen and (max-width: 425px) {
      .text {
        display: none;
      }
      .mat-icon {
        margin: 0;
      }
    }
  }
}
.add-button:hover {
  /* animation add-button */
  background: #ffaa4a;
  box-shadow: 0px 3px 3px 3px hsl(0, 1%, 27%, 50%);
  transition: all 0.1s ease-in-out;
}
.add-button:active {
  /* animation add-button */
  transform: translateY(1px);
  box-shadow: 0 0 0 black;
  transition: all 0.1s ease-in-out;
}
.add-button:focus {
  outline: 0;
  background: #ffaa4a;
  box-shadow: 0px 3px 3px 3px hsl(0, 1%, 27%, 50%);
}
