.hovered {
  background: rgb(97, 143, 111);
  opacity: 0.5;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.highlighted {
  background: rgb(27, 206, 81);
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.filter-list-no-result {
  color: #c2185b;
}
.table-wrapper {
  position: relative;
}
.table-scroll {
  height: 300px;
  overflow: auto;
}
.table-wrapper table {
  width: 100%;
}
